.sass-cache
sftp-config.json
FTP.png

htdocs/cms/*
!htdocs/cms/favicon.ico
!htdocs/cms/google*.html
!htdocs/cms/wp-content
htdocs/cms/wp-content/*
!htdocs/cms/wp-content/themes
htdocs/cms/wp-content/themes/*
!htdocs/cms/wp-content/themes/kurosawa